div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.candidate-welcome-h1{
  color: #565264;
  padding-top: 30px;
  font-size: 45px;
  text-shadow: 2px 1px 7px #fff;
}

.candidate-edit-button {
  padding: 10px 15px;
  background-color: #A6808C;
  border-radius: 20px;
  border-color: transparent;
  color: white;
  font-size: 17px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 30px;
}

.candidate-edit-button:hover {
  background-color: white;
  color: #A6808C;
}

/* button {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 20px;
}

button:hover {
  background-color: #0056b3;
} */
