

.navbar {
  background-color: #565264;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.navbar-img-logo {
  height: 130px;
  padding-left: 20px;
}

.navbar-links {
  margin-top: 40px;
  padding-right: 30px;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin: 0 18px;
  font-size: 18px;
}

.navbar a:hover {
  text-decoration: underline;
  /* border: 2px; */
  color: #cf9eae;
  font-weight: 600;
}

.navbar-brand {
  font-size: 1.5em;
}

.content {
  padding: 20px;
}

.navbar-button-login {
  padding: 10px;
  background-color: #A6808C;
  border-radius: 20px;
  border-color: transparent;
}

.navbar-button-login a {
  font-size: 17px;
  font-weight: 700;
  }
