<div [formGroup]="contactInformationForm">
  <label for="phoneNumber">Phone Number</label>
  <input id="phoneNumber" formControlName="phoneNumber" type="text">

  <label for="emailAddress">Email Address</label>
  <input id="emailAddress" formControlName="emailAddress" type="email">

  <label for="linkedInProfile">LinkedIn Profile</label>
  <input id="linkedInProfile" formControlName="linkedInProfile" type="url">

  <label for="otherSocialMedia">Other Social Media</label>
  <input id="otherSocialMedia" formControlName="otherSocialMedia" type="url">
</div>
