<footer class="footerComponent">
  <section class="footerBody">
    <div class="footerContent">
      <div class="footerColumn">
        <h1>justTalent</h1>
        <div class="socials">

          <h1>F</h1>
          <h1>T</h1>
          <h1>I</h1>
        </div>
      </div>
      <div class="footerColumn">
        <a href="">About</a>
        <a href="">Services</a>
        <a href="">Contact</a>
        <a href="">Register</a>
      </div>
      <div class="footerColumn">
        <h1>Let's Stay in touch</h1>
        <input type="text" placeholder="Name">
        <input type="text" placeholder="Email">
        <button>Submit</button>
      </div>

    </div>
    <div class="footerLegal">Copyright 2023. Anti-Bias App Name</div>

  </section>
</footer>
