.footerComponent {
  display: flex;
  justify-content: center;
  /* height: 400px; */
  width: screen;

}

.footerBody {
  height: 450px;
  width: 1440px;
}

.footerContent {
  display: flex;
  justify-content: space-evenly;
}

.footer_logo_column{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 450px;
  height: 350px;
  padding-top: 30px;
}

.footer-img-logo{
  height: 160px;
}

.socials{
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials a{
  padding-right: 12px;
}

.footer_socal_img{
  height: 45px;
}

.footer_menu_column{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 450px;
  height: 350px;
  padding-top: 50px;
}

.footer_menu_column a{
  padding: 5px;
  font-weight: 400;
  font-size: 20px;
  text-decoration: none;
  color: #000;

}

.footer_email_column{
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  width: 450px;
  height: 350px;
}

.email_box_header{
  font-weight: 600;
  font-size: 35px;
}

.email_input_field{
  height: 45px;
  width: 400px;
  background-color: transparent;
  border: 2px solid black;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  color: #000;
  font-weight: 400;
  padding-left: 10px;
}


.email_input_field:focus{
  outline-color: #cf9eae;
}

.email_input_label{
  font-size: 20px;
  font-weight: 500;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 5px;
}

.email_box_button{
  padding: 10px;
  margin-top: 15px;
  /* background-color: #A6808C; */
  background-color: #565264;
  color: #fff;
  border-radius: 20px;
  border-color: transparent;
  width: 130px;
  font-size: 20px;
  font-weight: 600;
}

.footerLegal {
  text-align: center;
  padding-bottom: 10px;
}

