.resume-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  /* background-color: #f4f4f4; */
  background-color: #565264;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  margin-bottom: 30px;
}

.resume-container h1, h2, h3, h4 {
  color: #333;
}

.resume-container-h1 {
  font-size: 2em;
  margin-bottom: 10px;
  /* color: white; */
}

.resume-container-h2 {
  font-size: 1.5em;
  margin-top: 20px;
  border-bottom: 2px solid #a6808c;
  padding-bottom: 5px;
  color: #fff;
}

h3 {
  font-size: 1.2em;
  margin: 15px 0 5px;
}

h4 {
  font-size: 1em;
  margin-top: 10px;
  font-weight: bold;
}

.resume-container-p {
  margin: 5px 0;
}

ul {
  list-style-type: disc;
  margin: 10px 0 10px 20px;
  padding: 0;
}

li {
  margin-bottom: 5px;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

section {
  margin-top: 20px;
}

.resume-info-container {
  margin-bottom: 15px;
  padding: 10px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

p,
li {
  color: #555;
}

