<div class="container job-details-container">


  @if(editJobPostMode){
    <app-edit-job-post [jobPost]="jobPost"></app-edit-job-post>
  } @else if (!editJobPostMode) {
    @if (jobPost) {
      <div>
        <h2>{{ jobPost.job_title }}</h2>
        <p><strong>Requirements:</strong> {{ jobPost.requirements}}</p>

        <p><strong>Location:</strong> {{ jobPost.location }}</p>
        <p><strong>Type:</strong> {{ jobPost.type_of_work }}</p>
      </div>
    } @else {
      <p>Loading...</p>
    }
  }

  <!-- if job post user ID and a current user ID matches, render edit botton -->
   @if(canEdit){

    <button (click)="toggleJobPostEditMode()">Edit</button>
   }
</div>
