<div class="job-list-item">
  <h3>{{ jobPost?.job_title }}</h3>
  <table>
    <tbody>
      <tr>
        <td><strong>Job Post ID:</strong></td>
        <td>{{ jobPost?.job_post_id }}</td>
      </tr>
      <tr>
        <td><strong>Start Date:</strong></td>
        <td>{{ jobPost?.start_date }}</td>
      </tr>
      <tr>
        <td><strong>End Date:</strong></td>
        <td>{{ jobPost?.end_date }}</td>
      </tr>
      <tr>
        <td><strong>Description:</strong></td>
        <td>{{ jobPost?.description }}</td>
      </tr>
      <tr>
        <td><strong>Requirements:</strong></td>
        <td>{{ jobPost?.requirements }}</td>
      </tr>
      <tr>
        <td><strong>Salary:</strong></td>
        <td>{{ jobPost?.salary }}</td>
      </tr>
      <tr>
        <td><strong>Type of Salary:</strong></td>
        <td>{{ jobPost?.type_of_salary }}</td>
      </tr>
      <tr>
        <td><strong>Country:</strong></td>
        <td>{{ jobPost?.country }}</td>
      </tr>
      <tr>
        <td><strong>City:</strong></td>
        <td>{{ jobPost?.city }}</td>
      </tr>
      <tr>
        <td><strong>Type of Work:</strong></td>
        <td>{{ jobPost?.type_of_work }}</td>
      </tr>
      <tr>
        <td><strong>Location:</strong></td>
        <td>{{ jobPost?.location }}</td>
      </tr>
      <tr>
        <td><strong>Created At:</strong></td>
        <td>{{ jobPost?.created_at }}</td>
      </tr>
      <tr>
        <td><strong>Modified At:</strong></td>
        <td>{{ jobPost?.modified_at }}</td>
      </tr>
    </tbody>

  </table>
</div>
