.candidate_search_componenet {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  font-family: "Montserrat", sans-serif;

}

.candidate_search_area{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #565264;
  width: 1440px;
  min-height: 500px ;
  border-radius: 25px;
  margin: 40px;
  padding: 20px 0px;
}

.candidate_search_form{
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.candidate_search_form h2 {
  color: #fff;
}

.candidate_search_form input {
  padding: 10px;
  margin: 2px;
  margin-bottom: 5px;
  border-radius: 15px;
  border-color: #ccb7ae;
  border-style: solid;
  border-width: 3px;
}

.candidate_search_form button {
  border-radius: 15px;
  padding: 10px;
  margin-top: 5px;
  border-color: #ccb7ae;
  background-color: #ccb7ae;
  font-weight: 600;
  font-size: 18px;


}


/* .candidate_list_header{
  display: flex;
  flex-direction: row;
}
.header_label_sm {
  width: 150px;
  height: 30px;

}
.header_label_lg {
  width: 300px;
  height: 30px;

} */
.candidates{
display: flex;
flex-direction: row;
flex-wrap: wrap;
width: 960px;
/* background-color: aqua; */
}

.candidate{
  display: flex;
  flex-direction: column;
  align-items: space-evenly;
  background-color: #EAE0D5;
  margin-bottom: 4px;
  box-shadow: 2px 2px 2px #9a9595b6;
  border-radius: 5px;
  width: 450px;
  height: 582px;
  padding-left: 10px;
  cursor: pointer;
  margin: 10px;
}

.candidate-header {
  text-align: left;
  width: 100%;
  font-size: 30px;
  /* padding-bottom: 2px; */
  padding-left: 10px;
}

.candidate-summary {
  padding-left: 10px;
  padding-right: 10px;
}

.skills-header {
  padding-left: 10px;
  font-size: 22px;
}

.resume_skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.resume_skills {
padding-right: 10px;
line-height: 5px;
}

.certification-header {
  padding-left: 10px;
  font-size: 22px;
}

.certification-name {
  padding-left: 10px;
  line-height: 5px;
}

.candidate-profile-button {
  border-radius: 15px;
  box-shadow: none;
  width: 150px;
  padding: 10px;
  margin-top: 10px;
  border-color: none;
  border-width: 0px;
  background-color: #565264;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
}

.candidate_sm {
  width: 150px;
  height: 30px;

}
.candidate_lg {
  width: 300px;
  height: 30px;

}

.candidates_list{
background-color: beige;
width: 900px;
height: 50px;
}
