
<section class="candidate_search_componenet">
  <form class="candidate_search_form" action="">
<div>

  <input type="text" placeholder="Country">
  <input type="text" placeholder="Work Setting Preference">
</div>
<div>

  <input type="text" placeholder="Province / State">
  <input type="text" placeholder="Language">
</div>
    <input type="text" placeholder="Skills">
    <button>SEARCH </button>
  </form>

  <div class="candidate_list_header">
    <p class="header_label_sm">Company</p>
    <p class="header_label_lg">Job Title</p>
    <p class="header_label_sm">Location</p>
    <p class="header_label_sm">Work Setting</p>
    <!-- <p class="header_label_sm">Job Description</p> -->
  </div>
  <div  *ngFor="let job of jobs" >
    <div (click)="redirectToJobDetails(job.job_post_id)" class="candidate">
      <p class="candidate_sm">{{job.job_post_id}}</p>
      <p class="candidate_lg">{{job.type_of_work}} {{job.job_title}}</p>
      <p class="candidate_sm">{{job.city}}, {{job.country}}</p>
      <p class="candidate_sm">{{job.location}}</p>
    </div>

  
  </div>
    
    

</section>