.home_component{
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
}

.hero_banner{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  background-image: url("/assets/images/Rectangle 2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: darkgray;
  height: 600px;
  width: 100%;
}

.hero_banner_text{
  font-weight: bold;
  font-size: 50pt;
  font-family: "Montserrat", sans-serif;
  color: white;
  padding-right: 180px;
  padding-bottom: 30px;
  text-shadow: 2px 2px 5px #0A0908;
  width: 700px;
}

.home_section_2{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 700px;
  width: 100%;
}

.home_hero_2{
  display: flex;
  width: 92vw;
  height: 700px;
  object-fit: cover;
}

.home_section_2_info{
  background-color: #CCB7AE;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 700px;
}

.home_section_2_header {
  color: #0A0908;
  font-size: 40pt;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  padding-top: 30px;
}

.home_section_2_text{
  font-size: 20pt;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  color: #0A0908;
  margin: 20px 40px 20px 40px;
}

.home_section_3{
  display: flex;
  background-color: #A6808C;
  flex-direction: column;
  height: 760px;
  width: 100%;
}

.home_section_3_header{
  color: #fff;
  text-align: center;
  font-size: 40pt;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  padding-top: 30px;
  padding-bottom: 20px;
}

.home_section_3_cards{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.home_section_info_card{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 360px;
  height: 462px;
  background-color: #565264;
}

.home_section_info_card_number_img{
  height: 75px;
  padding-top: 20px;
}

.home_section_info_card_label{
  font-size: 18pt;
  font-weight: 400;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  margin: 1em;
}

.home_call_to_action{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height: 513px;
width: 100%;
background-image: url("../../assets/images/mountains.png");
background-repeat: no-repeat;
background-size: cover;
}

.home_call_to_action_heading{
  font-family: "Montserrat", sans-serif;
  font-size: 55px;
  color: #fff;
  font-weight: 600;
}
.register{
  height: 77px;
  width: 260px;
  color: #0A0908;
  font-size: 28pt;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  border-radius: 15px;
  background-color: #EAE0D5;
}

.register a{
  text-decoration: none;
  color: #000;
}

