<section class="home_component">
  <div class="hero_banner">
    <h1 class="hero_banner_text">Welcome to JustTalent</h1>
  </div>
  <div class="home_section_2">
    <img class="home_hero_2" src="assets/images/Hero_2.png" alt="" />
    <article class="home_section_2_info">
      <h2 class="home_section_2_header">A Hiring Platform Built for Fairness</h2>
      <p class="home_section_2_text">
        We believe in a world where hiring is based on what you can do, not who you are. Our platform eliminates bias by
        hiding names, photos, and other personal details—ensuring every candidate gets a fair shot.

      </p>
      <p class="home_section_2_text">

        Whether you're a company looking for top talent or a professional searching for the right opportunity, we make
        hiring simpler, smarter, and fairer.

        Join us in shaping a better future for hiring.
      </p>
    </article>
  </div>
  <div class="home_section_3">
    <h2 class="home_section_3_header">Why JustTalent?</h2>
    <div class="home_section_3_cards">
      <div class="home_section_info_card">
        <img class="home_section_info_card_number_img" src="assets/images/🦆 icon _number circle one_.png" alt="" />
        <h3>Anonymous Applications</h3>
        <p class="home_section_info_card_label">
          No names, no photos, no personal data. Just talent 
        </p>
      </div>
      <div class="home_section_info_card">
        <img class="home_section_info_card_number_img" src="assets/images/🦆 icon _number circle two_ (1).png" alt="" />
        <h3>Fair Hiring Process</h3>
        <p class="home_section_info_card_label">
          Reduce unconscious bias while building a diverse, high-performing team.
        </p>
      </div>
      <div class="home_section_info_card">
        <img class="home_section_info_card_number_img" src="assets/images/🦆 icon _number circle three_.png" alt="" />
        <h3>Smart Matching</h3>
        <p class="home_section_info_card_label">
          Talent-driven recommendations ensure you connect with the best candidates.
        </p>
      </div>
    </div>
  </div>
  <div class="home_section_4">
    <h2 class="home_section_4_header">Getting started</h2>
    <div class="home_section_4_cards">
      <div class="home_section_4_info_card">
        <img class="home_section_info_card_number_img" src="assets/images/🦆 icon _number circle one_.png" alt="" />
        <h3>Sign-up</h3>
        <p class="home_section_info_card_label">
          Whether you're hiring or looking to be hired, set up an account in minutes.
        </p>
      </div>
      <div class="home_section_4_info_card">
        <img class="home_section_info_card_number_img" src="assets/images/🦆 icon _number circle two_ (1).png" alt="" />
        <h3>Apply annonymously</h3>
        <p class="home_section_info_card_label">
          Candidates can brows hundreds of open role and apply with confidence, knowing their skills show first.
        </p>
      </div>
      <div class="home_section_4_info_card">
        <img class="home_section_info_card_number_img" src="assets/images/🦆 icon _number circle three_.png" alt="" />
        <h3>Match & Review</h3>
        <p class="home_section_info_card_label">
          Employers see skills, experience, and work samples—nothing else.
        </p>
      </div>
      <div class="home_section_4_info_card">
        <img class="home_section_info_card_number_img" src="assets/images/🦆 icon _number circle three_.png" alt="" />
        <h3>Hire With Confidence</h3>
        <p class="home_section_info_card_label">
          Make unbiased decisions and build a stronger team.
        </p>
      </div>
    </div>
  </div>
  <div class="home_call_to_action">
    <h3 class="home_call_to_action_heading">GET STARTED TODAY!</h3>
    <button class="register"><a href="/register">REGISTER</a></button>
  </div>
</section>