<section class="home_component">
  <div class="hero_banner">
    <h1 class="hero_banner_text">WELCOME TO OUR ANTI-BIAS APP!</h1>
  </div>
  <div class="home_section_2">
    <img class="home_hero_2" src="assets/images/Hero_2.png" alt="" />
    <article class="home_section_2_info">
      <h2 class="home_section_2_header">WHAT WE'RE ALL ABOUT</h2>
      <p class="home_section_2_text">
        Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro.
        De carne lumbering animata corpora quaeritis. Summus brains sit​​, morbo
        vel maleficia? De apocalypsi gorger omero undead survivor dictum mauris.
        Hi mindless mortuis soulless creaturas, imo evil stalking monstra
        adventus resi dentevil vultus comedat cerebella viventium. Qui animated
        corpse, cricket bat max brucks terribilem incessu zomby. The voodoo
        sacerdos flesh eater, suscitat mortuos comedere carnem virus. Zonbi
        tattered for solum oculi eorum defunctis go lum cerebro. Nescio brains
        an Undead zombies. Sicut malus putrid voodoo horror. Nigh tofth eliv
        ingdead.
      </p>
    </article>
  </div>
  <div class="home_section_3">
    <h2 class="home_section_3_header">WHY USE OUR APP</h2>
    <div class="home_section_3_cards">
      <div class="home_section_info_card">
        <img
          class="home_section_info_card_number_img"
          src="assets/images/🦆 icon _number circle one_.png"
          alt=""
        />
        <p class="home_section_info_card_label">
          Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro.
          De carne lumbering animata corpora quaeritis. Summus brains sit​​,
          morbo vel maleficia?
        </p>
      </div>
      <div class="home_section_info_card">
        <img
          class="home_section_info_card_number_img"
          src="assets/images/🦆 icon _number circle two_ (1).png"
          alt=""
        />
        <p class="home_section_info_card_label">
          Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro.
          De carne lumbering animata corpora quaeritis. Summus brains sit​​,
          morbo vel maleficia?
        </p>
      </div>
      <div class="home_section_info_card">
        <img
          class="home_section_info_card_number_img"
          src="assets/images/🦆 icon _number circle three_.png"
          alt=""
        />
        <p class="home_section_info_card_label">
          Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro.
          De carne lumbering animata corpora quaeritis. Summus brains sit​​,
          morbo vel maleficia?
        </p>
      </div>
    </div>
  </div>
  <div class="home_call_to_action">
    <h3 class="home_call_to_action_heading">GET STARTED TODAY!</h3>
    <button class="register"><a href="/register">REGISTER</a></button>
  </div>
</section>
