<footer class="footerComponent">
  <section class="footerBody">
    <div class="footerContent">
      <div class="footer_logo_column">
        <a href="/"
          ><img
            class="footer-img-logo"
            src="assets/images/justTALENT Dark.png"
            alt=""
          />
        </a>
        <div class="socials">
          <a href="/"
            ><img
              class="footer_socal_img"
              src="assets/images/🦆 icon _Instagram_.png"
              alt=""
            />
          </a>
          <a href="/"
            ><img
              class="footer_socal_img"
              src="assets/images/🦆 icon _Facebook Square_.png"
              alt=""
            />
          </a>
          <a href="/"
            ><img
              class="footer_socal_img"
              src="assets/images/🦆 icon _Twitter Square_.png"
              alt=""
            />
          </a>
        </div>
      </div>
      <div class="footer_menu_column">
        <a href="/about">About</a>
        <a href="/register">Register</a>
        <a href="/user-profile">Profile</a>
        <a href="/employer-page">Employers</a>
        <a href="/candidate-search">Candidates</a>
        <a href="/jobPosts">Jobs</a>
        <a href="/contact">Contact</a>
      </div>
      <div class="footer_email_column">
        <h2 class="email_box_header">LET'S STAY IN TOUCH!</h2>
        <p class="email_input_label">Name:</p>
        <input class="email_input_field" type="text" placeholder="Enter your name here..." />
        <p class="email_input_label">Email:</p>
        <input class="email_input_field" type="text" placeholder="Enter your email here..." />
        <button class="email_box_button">Submit</button>
      </div>
    </div>
    <div class="footerLegal">Copyright 2024. Just Talent Inc.</div>
  </section>
</footer>
