<form [formGroup]="resumeForm" (ngSubmit)="onSubmit()">
  <label for="title">Title</label>
  <input id="title" formControlName="title" type="text">

  <label for="summary">Summary</label>
  <textarea id="summary" formControlName="summary"></textarea>
  <!-- CONTACT INFO FORM -->
  <app-contact-information-form [contactInformationForm]="$any(resumeForm.get('contactInformation'))"></app-contact-information-form>
  <!-- SKILLS FORM -->
  <app-skills-form [skillsForm]="$any(resumeForm.get('skills'))"></app-skills-form>
  <!-- Education History Form -->
  <app-education-form></app-education-form>

  <button type="submit">Update</button>
  <button type="button" (click)="cancelEditMode()">Cancel</button>
</form>
